// Import other files

@import 'reset';
@import 'variables';
@import 'css3-mixins';

// General

body {
    font: 300 100% $font;
    text-align: left;
    color: $color-main;
    background-color: $color-bg;
    line-height: 1.6875em; /* 27px / 16px */
    
    @include responsive(medium-screens) {
        line-height: 1.875em; /* 30px / 16px */
    }
}

p {
    padding-bottom: 30px;
}

p.last {
    padding-bottom: 0;
}

// Links

#{$a-tags} {
    color: $color-accent;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    border-bottom: 1px solid $color-line;
    @include transition(border-bottom); 
}

a:hover {
    border-bottom: 1px solid $color-accent;
}

a:active {
    top: 1px;
}

// Custom selection colors

::-moz-selection {
    color: #fff;
    background-color: $color-accent;
}

::selection {
    color: #fff;
    background-color: $color-accent;
}

// Titles
h1 {
    font-family: $font-title;
    font-size: 1.5625em; /* 25px / 16px */
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 15px;
    
    a:link, a:visited {
        color: $color-dark;
        border-bottom: 0;
        
        &:hover {
            color: $color-dark;
            border-bottom: 0;
        }
    }
    
    @include responsive(medium-screens) {
        font-size: 2.5em; /* 40px / 16px */
        letter-spacing: 5px;
    }
}

h2 {
    color: $color-light;
    font-weight: 600;
    font-size: 0.75em; /* 12px / 16px */
    padding: 25px 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    
    &::after {
        content: '.';
    }
}

h3 {
    color: $color-dark;
    font-weight: 400;
}

// Header

header[role="banner"] {
    padding: 30px 0;
    background-color: $color-bg;
    text-align: center;
    border-bottom: 1px solid $color-line;
    
    @include responsive(medium-screens) {
        padding: 40px 0;
    }
}

// Main

#content {
    background-color: #fff;
}

#content-inner {
    font-size: 1em; /* 16px / 16px */
    max-width: 600px;
    padding: 50px 15px;
    margin: 0 auto;
    
    .social li {
        margin-bottom: 7px;
    }

    .social li.last {
        margin-bottom: 0;
    }
    
    @include responsive(medium-screens) {
        font-size: 1.125em; /* 18px / 16px */
        padding: 100px 15px;
        
        #experience article {
            padding-bottom: 20px;
        }
        
        #experience article.last {
            padding-bottom: 0;
        }
    } 
}

section {
    padding-bottom: 50px;

    &.last {
        padding-bottom: 0;
    }
}

article header {
    padding-bottom: 15px;
}

span.time {
    position: relative;
    top: -5px;
    font-size: 14px;
    color: $color-lighter;
}

// Footer
footer {
    font-size: 0.875em; /* 14px / 16px */
    color: $color-dark;
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid $color-line;
    
    p {
        padding: 0;
        margin-bottom: 15px;
    }
    
    .social li {
        display: inline-block;
        
        &::after {
            content: '/';
        }
        
        &.last::after {
            content: '';
        }
    }
    
    @include responsive(medium-screens) {
        font-size: 1em; /* 16px / 16px */
        padding: 40px 0;
    }
}

/* 404 page */

#error-message {
    text-align: center;
    
    p {
        @include responsive(medium-screens) {
            font-size: 1.5em; /* 27px / 16px */
            line-height: 1.5em; /* 40.5px / 27px */
        }
    }
}

/* Animations */

.fade-in-down {
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -moz-animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.fade-in-up {
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -moz-animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -ms-transform: translateY(-10px);
   	-webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        -ms-transform: translateY(0);
   	-webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -ms-transform: translateY(-10px);
   	-webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        -ms-transform: translateY(0);
   	-webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -ms-transform: translateY(-10px);
   	-webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        -ms-transform: translateY(0);
   	-webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -ms-transform: translateY(10px);
   	-webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        -ms-transform: translateY(0);
   	-webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -ms-transform: translateY(10px);
   	-webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        -ms-transform: translateY(0);
   	-webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -ms-transform: translateY(10px);
   	-webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        -ms-transform: translateY(0);
   	-webkit-transform: translateY(0);
        transform: translateY(0);
    }
}