// Variables

// Font-family
$font: 'Open Sans', Helvetica, Arial, sans-serif;
$font-title: 'Montserrat', Helvetica, Arial, sans-serif;

// Colors
$color-bg: #fafafa;
$color-line: #f2f2f2;
$color-light: #bbb;
$color-lighter: #999;
$color-main: #666;
$color-dark: #444;
$color-accent: #4C9BDC;

// Link tags
$a-tags: 'a, a:link, a:visited, a:focus';
$a-tags-hover: 'a:hover, a:active';

// Media queries
$width-medium: 630px;

